#product_description_template_productDescriptionTemplateBlocks {
    > div[data-form-collection="list"] {
        div[data-form-collection="item"] {
            width: 100%;
            padding-bottom: 0;
        }
    }

    .field:has(.product-description-template-block-alignment),
    .field:has(.product-description-template-block-children) {
        display: none;
    }

    .button[data-form-collection="add"] {
        margin-top: 28px;
    }
}

.draggable--handle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
}

.product-description-content-collection {
    > div[data-form-collection="item"] {
        margin-bottom: 20px;
    }
}

.ui.align-column,
.ui.align-row {
    display: flex;
    flex-wrap: nowrap;
}

.ui.align-column {
    flex-direction: column;
}

.ui.align-row {
    flex-direction: row;
}