{% form_theme form '@SyliusAdmin/Form/imagesTheme.html.twig'  %}
{% import '@SyliusUi/Macro/flags.html.twig' as flags %}
{# all the contents copied from SyliusAdminBundle/views/PaymentMethod/_form.html.twig #}
<div class="ui segment">
    {{ form_start(form) }}
        {{ form_row(form.name) }}

        <h2>{{ 'app.ui.label.blocks'|trans }}</h2>
        <div class="blocks-collection">
            {{ form_widget(form.productDescriptionTemplateBlocks) }}
        </div>
</div>
