<div class="ui tab" data-tab="product_features">
    <h3 class="ui top attached header">{{ 'app.ui.product_features'|trans }}</h3>

    <div class="ui attached segment">
        {{ form_widget(form.features) }}
    </div>
</div>
